* {
  box-sizing: border-box;
}

p,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  box-sizing: border-box;
}

p,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.productContainer {
  padding: 20px;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .productContainer {
    flex-wrap: wrap;
  }
}
.productContainer .productlistWrapper {
  width: calc(100% - 300px);
}
@media (max-width: 768px) {
  .productContainer .productlistWrapper {
    width: 100%;
  }
}
.productContainer .productlistWrapper .priceSort {
  text-align: right;
  margin: 20px 0;
}
.productContainer .productlistWrapper .priceSort select {
  border: none;
  outline: none;
}
.productContainer .filters {
  flex: 1 1 500px;
  border-right: 1px solid #c6c6c6;
  padding: 20px;
  text-align: left;
  height: 100%;
}
.productContainer .filters .clearFilter {
  display: flex;
  justify-content: space-between;
}
.productContainer .filters .clearFilter p {
  cursor: pointer;
}
.productContainer .filters .filterType {
  position: relative;
  padding: 20px 20px 20px 0;
  margin: 20px 0;
  border-bottom: 1px solid #c6c6c6;
}
.productContainer .filters .filterType .filterComponent {
  text-align: left;
}
.productContainer .filters .filterType .filterComponent .filterName {
  margin-bottom: 10px;
}
.productContainer .filters .filterType .filterComponent .filterName span {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.productContainer .filters .filterType .filterComponent .filter-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.productContainer .filters .filterType .filterComponent .filter-items.expanded {
  max-height: 500px;
}
.productContainer .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .productContainer .product-list {
    width: 100%;
    justify-content: center;
  }
}
.productContainer .product-list .product-card {
  flex: 1 1 calc(33% - 16.5px);
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  height: 450px;
  max-width: 33%;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) {
  .productContainer .product-list .product-card {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.productContainer .product-list .product-card .product .image-container {
  height: 250px;
  overflow: hidden;
}
.productContainer .product-list .product-card .product .image-container img {
  height: 250px;
  width: 100%;
}
.productContainer .product-list .product-card .product .image-container .secondaryImg {
  display: none;
}
.productContainer .product-list .product-card .product .image-container:hover .primaryImg {
  display: none;
}
.productContainer .product-list .product-card .product .image-container:hover .secondaryImg {
  display: block;
}
.productContainer .product-list .product-card .product .product-details {
  padding: 10px;
  margin-top: 20px;
}
.productContainer .product-list .product-card .product .product-details .details-container {
  position: relative;
  padding: 10px;
}
.productContainer .product-list .product-card .product .product-details .details-container .description,
.productContainer .product-list .product-card .product .product-details .details-container .price {
  transition: opacity 0.5s ease-in-out;
}
.productContainer .product-list .product-card .product .product-details .details-container .rating {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}
.productContainer .product-list .product-card .product .product-details .details-container:hover .description,
.productContainer .product-list .product-card .product .product-details .details-container:hover .price {
  opacity: 0;
}
.productContainer .product-list .product-card .product .product-details .details-container:hover .rating {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}/*# sourceMappingURL=productlist.css.map */